.dashboard-container {
    display: flex;
  }
  
  .main-content {
    flex: 1; /* ขยายเนื้อหาให้เต็มพื้นที่ */
    margin-left: 250px; /* เว้นระยะเท่ากับความกว้างของ Sidebar */
    padding: 20px;
    background-color: #f5f5f5; /* สีพื้นหลังของเนื้อหา */
    min-height: 100vh; /* ความสูงเต็มหน้าจอ */
  }
  