.footer {
    background-color: #770000FA; /* สีเขียวเข้ม */
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-left, .footer-center, .footer-right {
    flex: 1;
  }
  
  .footer-right a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-left, .footer-center, .footer-right {
      margin-bottom: 10px;
    }
  }
  